/*IE 7及以下*/
#errorie { top: 0; z-index: 100000; height: 35px; background: #FCF8E3;}
#errorie div { margin:  auto; line-height: 30px;color: orange; font-size: 22px; text-align: center;}
#errorie div a {color: #459f79;font-size: 16px;}
#errorie div a:hover {text-decoration: underline;}

